/sy_glove_with_mpu/build/**
/sy_glove_with_mpu/build/adc.lst
/sy_glove_with_mpu/build/adc.o
/sy_glove_with_mpu/build/cmsis_os.d
/sy_glove_with_mpu/build/cmsis_os.lst
/sy_glove_with_mpu/build/cmsis_os.o
/sy_glove_with_mpu/build/croutine.d
/sy_glove_with_mpu/build/croutine.lst
/sy_glove_with_mpu/build/croutine.o
/sy_glove_with_mpu/build/dma.d
/sy_glove_with_mpu/build/dma.lst
/sy_glove_with_mpu/build/dma.o
/sy_glove_with_mpu/build/event_groups.d
/sy_glove_with_mpu/build/event_groups.lst
/sy_glove_with_mpu/build/event_groups.o
/sy_glove_with_mpu/build/freertos.d
/sy_glove_with_mpu/build/freertos.lst
/sy_glove_with_mpu/build/freertos.o
/sy_glove_with_mpu/build/gpio.d
/sy_glove_with_mpu/build/gpio.lst
/sy_glove_with_mpu/build/gpio.o
/sy_glove_with_mpu/build/heap_4.d
/sy_glove_with_mpu/build/heap_4.lst
/sy_glove_with_mpu/build/heap_4.o
/sy_glove_with_mpu/build/i2c_software.d
/sy_glove_with_mpu/build/i2c_software.lst
/sy_glove_with_mpu/build/i2c_software.o
/sy_glove_with_mpu/build/internal_flash.d
/sy_glove_with_mpu/build/internal_flash.lst
/sy_glove_with_mpu/build/internal_flash.o
/sy_glove_with_mpu/build/inv_mpu_dmp_motion_driver.d
/sy_glove_with_mpu/build/inv_mpu_dmp_motion_driver.lst
/sy_glove_with_mpu/build/inv_mpu_dmp_motion_driver.o
/sy_glove_with_mpu/build/inv_mpu.d
/sy_glove_with_mpu/build/inv_mpu.lst
/sy_glove_with_mpu/build/inv_mpu.o
/sy_glove_with_mpu/build/list.d
/sy_glove_with_mpu/build/list.lst
/sy_glove_with_mpu/build/list.o
/sy_glove_with_mpu/build/main.d
/sy_glove_with_mpu/build/main.lst
/sy_glove_with_mpu/build/main.o
/sy_glove_with_mpu/build/misc.d
/sy_glove_with_mpu/build/misc.lst
/sy_glove_with_mpu/build/misc.o
/sy_glove_with_mpu/build/MPL_task.d
/sy_glove_with_mpu/build/MPL_task.lst
/sy_glove_with_mpu/build/MPL_task.o
/sy_glove_with_mpu/build/mpu6050_io.d
/sy_glove_with_mpu/build/mpu6050_io.lst
/sy_glove_with_mpu/build/mpu6050_io.o
/sy_glove_with_mpu/build/port.d
/sy_glove_with_mpu/build/port.lst
/sy_glove_with_mpu/build/port.o
/sy_glove_with_mpu/build/queue.d
/sy_glove_with_mpu/build/queue.lst
/sy_glove_with_mpu/build/queue.o
/sy_glove_with_mpu/build/startup_stm32f103xb.d
/sy_glove_with_mpu/build/startup_stm32f103xb.o
/sy_glove_with_mpu/build/stm32f1xx_hal_adc_ex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_adc_ex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_adc_ex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_adc.d
/sy_glove_with_mpu/build/stm32f1xx_hal_adc.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_adc.o
/sy_glove_with_mpu/build/stm32f1xx_hal_cortex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_cortex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_cortex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_dma.d
/sy_glove_with_mpu/build/stm32f1xx_hal_dma.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_dma.o
/sy_glove_with_mpu/build/stm32f1xx_hal_exti.d
/sy_glove_with_mpu/build/stm32f1xx_hal_exti.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_exti.o
/sy_glove_with_mpu/build/stm32f1xx_hal_flash_ex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_flash_ex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_flash_ex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_flash.d
/sy_glove_with_mpu/build/stm32f1xx_hal_flash.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_flash.o
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio_ex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio_ex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio_ex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio.d
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_gpio.o
/sy_glove_with_mpu/build/stm32f1xx_hal_msp.d
/sy_glove_with_mpu/build/stm32f1xx_hal_msp.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_msp.o
/sy_glove_with_mpu/build/stm32f1xx_hal_pwr.d
/sy_glove_with_mpu/build/stm32f1xx_hal_pwr.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_pwr.o
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc_ex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc_ex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc_ex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc.d
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_rcc.o
/sy_glove_with_mpu/build/stm32f1xx_hal_tim_ex.d
/sy_glove_with_mpu/build/stm32f1xx_hal_tim_ex.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_tim_ex.o
/sy_glove_with_mpu/build/stm32f1xx_hal_tim.d
/sy_glove_with_mpu/build/stm32f1xx_hal_tim.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_tim.o
/sy_glove_with_mpu/build/stm32f1xx_hal_timebase_tim.d
/sy_glove_with_mpu/build/stm32f1xx_hal_timebase_tim.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_timebase_tim.o
/sy_glove_with_mpu/build/stm32f1xx_hal_uart.d
/sy_glove_with_mpu/build/stm32f1xx_hal_uart.lst
/sy_glove_with_mpu/build/stm32f1xx_hal_uart.o
/sy_glove_with_mpu/build/stm32f1xx_hal.d
/sy_glove_with_mpu/build/stm32f1xx_hal.lst
/sy_glove_with_mpu/build/stm32f1xx_hal.o
/sy_glove_with_mpu/build/stm32f1xx_it.d
/sy_glove_with_mpu/build/stm32f1xx_it.lst
/sy_glove_with_mpu/build/stm32f1xx_it.o
/sy_glove_with_mpu/build/stream_buffer.d
/sy_glove_with_mpu/build/stream_buffer.lst
/sy_glove_with_mpu/build/stream_buffer.o
/sy_glove_with_mpu/build/sy_glove_with_mpu.bin
/sy_glove_with_mpu/build/sy_glove_with_mpu.elf
/sy_glove_with_mpu/build/sy_glove_with_mpu.hex
/sy_glove_with_mpu/build/sy_glove_with_mpu.map
/sy_glove_with_mpu/build/system_stm32f1xx.d
/sy_glove_with_mpu/build/system_stm32f1xx.lst
/sy_glove_with_mpu/build/system_stm32f1xx.o
/sy_glove_with_mpu/build/tasks.d
/sy_glove_with_mpu/build/tasks.lst
/sy_glove_with_mpu/build/tasks.o
/sy_glove_with_mpu/build/thread_of_host_connect.d
/sy_glove_with_mpu/build/thread_of_host_connect.lst
/sy_glove_with_mpu/build/thread_of_host_connect.o
/sy_glove_with_mpu/build/thread_of_sensor_calibration.d
/sy_glove_with_mpu/build/thread_of_sensor_calibration.lst
/sy_glove_with_mpu/build/thread_of_sensor_calibration.o
/sy_glove_with_mpu/build/tim.d
/sy_glove_with_mpu/build/tim.lst
/sy_glove_with_mpu/build/tim.o
/sy_glove_with_mpu/build/timers.d
/sy_glove_with_mpu/build/timers.lst
/sy_glove_with_mpu/build/timers.o
/sy_glove_with_mpu/build/uart-API.d
/sy_glove_with_mpu/build/uart-API.lst
/sy_glove_with_mpu/build/uart-API.o
/sy_glove_with_mpu/build/uart-line-IO.d
/sy_glove_with_mpu/build/uart-line-IO.lst
/sy_glove_with_mpu/build/uart-line-IO.o
/sy_glove_with_mpu/build/usart.d
/sy_glove_with_mpu/build/usart.lst
/sy_glove_with_mpu/build/usart.o
